@import "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

.ant {
  &-layout {
    &-content {
      min-height: calc(100vh - 8.4rem);
      padding: 1rem 2.4rem;
      background: $white;
    }

    &-header {
      color: $white;
      text-align: center;
      font-size: 1.5rem;
    }
  }

  &-list-item {
    transition: 0.1s ease-out;
    position: relative;
    cursor: pointer;
    &:hover {
      box-shadow: 1px 1px 3px 0px $shadow-color;
      transform: scale(1.01);

      .ant-list-item-action {
        opacity: 1;
        pointer-events: all;
        svg {
          fill: rgba(0, 0, 0, 0.45);
          transition: 0.2s;
        }
        &:hover {
          svg {
            fill: #ff4d4f;
          }
        }
      }
    }

    &-action {
      position: absolute;
      right: 0;
      top: 0.5rem;
      opacity: 0;
      pointer-events: none;
    }
  }

  &-spin {
    &-spinning {
      position: absolute;
      display: inline-block;
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
    }

    &-dot-spin {
      margin-top: 0.3rem;
    }
  }
}
